/*
    rojo: #ba1820;
    font-family: Times New Roman;
*/
body{
    background-image: url(img/graph-tile.png);
    background-repeat: repeat;
}

header{
	text-align: center;
	font-family: Times New Roman;
	padding: 50px;
}
h1{
	color: #ba1820
}
.primero .segundo .tercero .cuarto{
	text-align: center;
	font-size: 10pt;
}
.cerdito{
	padding: 5px;
}
.parrafo1{
	margin-right: 10px;
	font-size: 7pt;
}
.mariposa{
	padding: 5px;
}
.parrafo2{
	margin-right: 10px;
	font-size: 7pt;
}
.pescadito{
	padding: 5px;
}
.parrafo3{
	margin-right: 10px;
	font-size: 7pt;
}
.cangrejito{
	padding: 5px;
}
.parrafo4{
	margin-right: 10px;
	font-size: 7pt;
}


